a,
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: inherit;
}
ul {
  padding: 0;
}
li {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.sprite {
  display: inline-block;
  background: url('../icon/sprite.png') no-repeat;
}
.sprite.sprite-logo {
  width: 46px;
  height: 43px;
  background-position: 3.091% 3.712%;
}
.sprite.sprite-mixshop {
  width: 131px;
  height: 41px;
  background-position: 7.504% 3.852%;
}
.border {
  border: solid 1px #aeb4b9;
  border-radius: 5px;
}
.border-right {
  border-right: solid 1px #aeb4b9;
}
svg {
  width: 20px;
  height: 20px;
}
input {
  outline: none;
}
.el-dropdown {
  vertical-align: top;
}
.el-icon-arrow-down {
  font-size: 12px;
}
.el-drawer {
  width: 380px !important;
}
.el-drawer__header > :first-child {
  font-size: 20px;
  color: #202223;
}
.el-drawer__header {
  padding: 20px;
  margin: 0;
  border-bottom: solid 1px #aeb4b9;
}
.el-drawer__body {
  padding: 8px;
}
.drawer-item {
  padding: 14px 20px;
  width: 100%;
}
.drawer-item-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
  color: #202223;
  font-weight: 600;
}
.el-dropdown-link {
  cursor: pointer;
  color: #409EFF;
}
.el-icon-arrow-down {
  font-size: 12px;
}
.el-tabs__nav {
  width: 100%;
}
.el-drawer {
  z-index: 1400 !important;
}
.el-tabs__nav-wrap::after {
  height: 1px;
}
.el-dropdown-link {
  padding: 9px 16px;
  font-size: 14px;
  color: #6d7175;
}
.dropdown-section {
  position: relative;
}
.el-drawer__container {
  z-index: 3000;
}

